.paragraphe {
    margin-top: 20px;
    margin-bottom: 5px;
}

.inputForm {
    width: 391px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

