.contact {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 250px;
}

.name {
    font-weight: bold;
}

.number {
    color: blue;
}

.icon {
    margin-right: 5px;
    font-size: 15px;
}

.infoContainer {
    display: flex;
    align-items: center;
}

.deleteButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}